In [1]:
import pandas as pd

In [2]:
x=[10,20,30,40]

In [3]:
pd.Series(x)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
pd.Series(x,index=[1,2,3,4])

1    10
2    20
3    30
4    40
dtype: int64

In [5]:
d={'name':['Emmanuel','Davis','Kosgei'],'Marks':[90,87,96]}

In [8]:
pd.DataFrame(d,index=[1,2,3])

       name  Marks
1  Emmanuel     90
2     Davis     87
3    Kosgei     96

In [10]:
sd=pd.Series()

In [12]:
print(sd)

Series([], dtype: object)

In [13]:
l=[10,20,30,40]

In [17]:
sd=pd.Series(l,index=['1','2','3','4'])

In [18]:
sd

1    10
2    20
3    30
4    40
dtype: int64

In [19]:
import numpy as np

In [20]:
a=np.array([1,2,3,4,5,6])

In [21]:
a

array([1, 2, 3, 4, 5, 6])

In [22]:
print(a)

[1 2 3 4 5 6]

In [25]:
sa=pd.Series(a,index=(['a','b','c','d','e','f']))

In [26]:
print(sa)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int32

In [27]:
d={'a':10,'b':20,'c':30,'d':40}

In [28]:
d

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [29]:
pd.Series(d)

a    10
b    20
c    30
d    40
dtype: int64

In [30]:
dt=[('a',10),('b',20),('c',30),('d',40)]

In [31]:
pd.Series(dt)

0    (a, 10)
1    (b, 20)
2    (c, 30)
3    (d, 40)
dtype: object