In [1]:
#import libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
dataset=pd.read_csv("C:\\Users\\pc\\Downloads\\MELBOURNE_HOUSE_PRICES_LESS.csv")
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,01-04-17,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,01-04-17,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,01-04-17,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,01-04-17,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,01-04-17,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [11]:
dataset.nunique()

Suburb             380
Address          57754
Rooms               14
Type                 3
Price             3417
Method               9
SellerG            476
Date               112
Postcode           225
Regionname           8
Propertycount      368
Distance           180
CouncilArea         34
dtype: int64

In [12]:
dataset.shape

(63023, 13)

In [13]:
dataset.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

In [14]:
dataset.dropna(inplace=True)

In [26]:
dataset.isna().sum()

Rooms                                     0
Price                                     0
Postcode                                  0
Propertycount                             0
Distance                                  0
                                         ..
CouncilArea_Whitehorse City Council       0
CouncilArea_Whittlesea City Council       0
CouncilArea_Wyndham City Council          0
CouncilArea_Yarra City Council            0
CouncilArea_Yarra Ranges Shire Council    0
Length: 45690, dtype: int64

In [15]:
dataset.shape

(48433, 13)

In [16]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [17]:
dataset.head()

,Rooms,Price,Postcode,Propertycount,Distance,Suburb_Aberfeldie,Suburb_Airport West,Suburb_Albanvale,Suburb_Albert Park,Suburb_Albion,...,CouncilArea_Moreland City Council,CouncilArea_Murrindindi Shire Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
0,3,1490000.0,3067,4019,3.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,3,1220000.0,3067,4019,3.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,3,1420000.0,3067,4019,3.0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,3,1515000.0,3040,1543,7.5,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2,670000.0,3042,3464,10.4,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
x=dataset.drop("Price",axis='columns')
y=dataset['Price']

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [24]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()

In [25]:
reg.fit(x_train,y_train)

MemoryError: Unable to allocate 11.3 GiB for an array with shape (44738, 33903) and data type float64